<script>/* eslint-disable linebreak-style *//* eslint-disable max-len */</script>
<template>
    <div>
        <div>Le groupe de la music est : {{ $route.params.music}}</div>
        <div>{{comment}}</div>
        <button @click="goComments" style="display: none;">Chargement de comantaire</button>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
  data: function() {
    return {
      musicListComment: [['BEAST IN BLACK',"Beast In Black est un groupe de heavy metal finlandais originaire de Helsinki. Il est formé en 2015 par l'ancien guitariste de Battle Beast, Anton Kabanen."],
        ['Fall Out Boy',"Fall Out Boy (FOB) est un groupe de rock américain, originaire de Wilmette, près de Chicago. Formé en 2001, il est composé de Patrick Stump (chanteur, guitariste et compositeur), Pete Wentz (basse, chant et paroles), Joe Trohman (guitare et voix) et Andrew Hurley (batterie et percussions)."],
        ['LINDEMANN',"Lindemann est un groupe de metal industriel germano-suédois. Formé en 2015, il est composé du chanteur du groupe Rammstein, Till Lindemann, ainsi que le multi-instrumentiste Peter Tägtgren, en contact pour un projet musical depuis plusieurs années. Le 28 mai 2015, le groupe sort son premier single Praise Abort puis l'album studio Skills In Pills le 23 juin 2015."],
        ['Oomph!',"Oomph!, également typographié OOMPH!, est un groupe de metal industriel allemand, originaire de Brunswick. Formé en 1989, le groupe chante en allemand et en anglais, et le style musical, aux forts accents martiaux, est un assemblage de guitares électriques, d'échantillons et d'électroniques comparable à celle jouée par d'autres groupes de la Neue Deutsche Härte, dont le plus connu est Rammstein."]
      ],
      comment: ""
    };
  },
  created(){
    console.log(this.$route.params);
    this.musicListComment.forEach(element => {
        if (element[0] == this.$route.params.music) {
          this.comment = element[1];
        }
      });
  },
  methods:{
    goComments(){
      this.$router.push({name:'comments',
      params:{music:this.$route.params.music}})
    }
  },
}
</script>
