<script>/* eslint-disable linebreak-style */
/* eslint-disable max-len */
</script>
<template>
  <v-container>

    <div id="List_of_music">
      <Liste :listMusic="listMusic">
        <template v-slot:header>
          <h1>Music Séléctionné</h1>
        </template>
      </Liste>
    </div>

    <!--<button @click="addMusic">Ajouter une musique</button>
    <input type="file" id="myFile" />-->
  </v-container>
</template>

<script>
import Liste from '../components/Liste'; // 1 import
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data: function() {
    return {
    };
  },
  components: {
    Liste, // 2 use
  },
  computed: {
    listMusic() {
      return this.$store.state.musicList;
    },
  },
};
</script>
