<script>/* eslint-disable linebreak-style */</script>
<template>
    <div v-if="listFavoris.length >= 1">
        <v-row justify="center">
            <v-dialog
                v-model="dialog"
                scrollable
                max-width="300px"
            >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                >
                    liste des favoris
                </v-btn>
            </template>
            <v-card>
                <v-card-title>liste des favoris</v-card-title>
                <v-divider></v-divider>
                <v-card-text style="height: 300px;">
                    <div v-for="(favoris, index) in this.listFavoris" :key="index">
                        {{favoris[0]}}
                    </div>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-btn
                    color="blue darken-1"
                    text
                    @click="dialog = false"
                    >
                        fermer
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        </v-row>
    </div>
</template>

<script>
export default {
    name: "Favoris",
    data: function () {
        return {
            dialogm1: '',
            dialog: false,
        };
    },
    props: {
        listFavoris: Array,
    },

};
</script>
