<script>/* eslint-disable linebreak-style */</script>
<template>
  <div>
    <p>
      {{ title }}
    </p>
    <div>
      <progress :value="advencementMusic" :max="this.audioElement.duration"></progress>
    </div>
    <div id="item">
      <button @click="previousMusic"><v-icon>skip_previous</v-icon></button>
      <button @click="displayMusic" v-if="canMusicDisplay">
        <v-icon>play_circle_filled</v-icon>
      </button>
      <button @click="stopMusic" v-else><v-icon>pause</v-icon></button>
      <button @click="nextMusic"><v-icon>skip_next</v-icon></button>
    </div>
    <knob-control
      :min="0"
      :max="100"
      :size="75"
      v-model="volume"
    ></knob-control>
    <ul>
      <li v-for="(nomMusic, index) in this.listMusic" :key="index">
        <button @click="startMusic(index)" :id="index">{{nomMusic[0]}}</button>
        <router-link :to="'/about/'+nomMusic[3]">Artiste</router-link>
        <router-view></router-view>
        <button @click="addFavoris(index)"><v-icon>favorite</v-icon></button>
        <button @click="addNextMusic(index)"><v-icon>playlist_play</v-icon></button>
      </li>
    </ul>
  </div>
</template>

<script>
import KnobControl from 'vue-knob-control';
export default {
  props: {
    title: String,
    url: String,
    listMusic: Array,
  },

  data() {
    return {
      yellow: false,
      canMusicDisplay: true,
      audioElement: new Audio(this.url),
      advencementMusic: 0,
      listNextMusic:[],
      volume: 100,
    };
  },

  methods: {
    nextMusic() {
      this.audioElement.pause();
      this.advencementMusic = 0;
      this.$emit('displayNext');
    },
    previousMusic() {
      this.audioElement.pause();
      this.advencementMusic = 0;
      this.$emit('displayBack');
    },
    displayMusic() {
      this.audioElement.play();
      this.canMusicDisplay = false;
    },
    stopMusic() {
      this.audioElement.pause();
      this.canMusicDisplay = true;
    },
    maxTime() {
      return this.audioElement.duration;
    },
    startMusic(val) {
      this.audioElement.pause();
      this.advencementMusic = 0;
      this.canMusicDisplay = true;
      this.$emit('startMusic', val);
    },
    addFavoris(val){
      this.$emit('addFavoris', val);
    },
    addNextMusic(val){
      this.listNextMusic.push(val)
    }
  },
  computed: {
    durationMaxMusic() {
      return this.audioElement.duration;
    },
  },
  created() {
    setInterval(() => {
      this.advencementMusic = this.audioElement.currentTime;
    }, 1000);
  },
  watch: {
    url(val) {
      this.audioElement = new Audio(this.url);
      this.displayMusic();
    },
    advencementMusic(){
      if (this.advencementMusic == this.audioElement.duration && this.listNextMusic.length) {
        this.startMusic(this.listNextMusic[0]);
        this.listNextMusic.splice(0);
      }
    },
    volume(val){
      this.audioElement.volume = val / 100;
    }
  },
  components: {
    KnobControl,
  }
};
</script>
