<script>/* eslint-disable linebreak-style *//* eslint-disable max-len */</script>
<template>
  <div>
    <label for="new-todo">rechecher une music</label>
    <input
      v-model="newTodoText"
      id="new-todo"
    >
    <header>
      <slot name="header">
        <h1>Liste des prénoms</h1>
      </slot>
    </header>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="displayMusic[2]"
          class="my-3"
          contain
          height="200"
        />
      </v-col>
    </v-row>
    <Item @displayBack="displayBack"
      @displayNext="displayNext"
      @startMusic="startMusic"
      :title="displayMusic[0]"
      :url="displayMusic[1]"
      :listMusic="listMusic.filter(data => data[0].toUpperCase().includes(newTodoText.toUpperCase()) || data[3].toUpperCase().includes(newTodoText.toUpperCase()))"
      @addFavoris="addFavoris"
    />
    <favoris :listFavoris="listFavoris"
    />
  </div>
</template>

<script>
import Item from "./Item";
import Favoris from "./Favoris";

export default {
  name: "Liste",
  props: {
    listMusic: Array,
  },
  data: function () {
    return {
      listFavoris: [],
      newTodoText: '',
    };
  },
  methods: {
    displayBack() {
      this.$store.getters.displayBack;
    },
    displayNext() {
      this.$store.getters.displayNext;
    },
    startMusic(val){
      this.$store.state.nbMusic = val;
    },
    addFavoris(val){
      console.log(val);
      this.listFavoris.push(this.listMusic[val])
    },
  },
  components: {
    Item,
    Favoris,
  },
  computed: {
    displayMusic() {
      return this.listMusic[this.$store.state.nbMusic];
    },
  },
};
</script>
