<script>/* eslint-disable linebreak-style */</script>
<template>
  <v-app id="Menu_bar">
    <router-link to="/">Home</router-link>
    <router-link to="/about/all" style="display: none;">about</router-link>
    <router-view></router-view>
  </v-app>
</template>

<script>
  export default {
    created() {
      if (this.$workbox) {
        this.$workbox.addEventListener("waiting", () => {
          this.showUpgradeUI = true;
        });
      }
    },
    name: 'App',
    data: () => ({
      //
    }),
    methods: {
      async accept() {
        this.showUpgradeUI = false
        await this.$workbox.messageSW({ type: "SKIP_WAITING" });
      }
    },
  };
</script>
